.table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        padding: 8px;
        border-bottom: 1px solid #ccc;
    }

    th {
        font-weight: bold;
        text-align: left;
    }

    td {
        text-align: center;
    }
}


.item-label {
    width: 100%;
}

.item-btn {
    width: 20%;
}

.border {
    border: 1px solid black;
}

.list-header {
    padding: 0 17px !important;
    margin: 0;
}